@require './config'

$mobileSidebarWidth = $sidebarWidth * 0.82

@media (max-width: 750px)
    .postline
        .top-bar
            .search-box
                input
                    left 0!important
            .logo
                margin-bottom: 10px
            .layout-inner
                display block!important
        .time-line-box
            padding-top 120px!important
            .post-date-top
                display none
            .content
                display block
                .left, .right
                    width 100%
        .post-item
            .post-dot
                display none
            &:before, &:after
                display none
    .page-main
        padding-top: 110px!important
